extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-mZN2QbvwGy6IVwgdz-hmoMo_PFtvzRU&libraries=places&callback=initAutocomplete" async defer)

  <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
  -  function tolocal(s) { return s.toLocaleString(); };

block content
  div.container
    div(class="clearfix" style="margin-bottom:100px;")

    div.row
      div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        div.twt-wrapper
          div.panel.panel-info
            div.panel-heading
              legend  Partners Meets your Requirements
               
            div.panel-body
              p
              form(method="post",action="/match",class="form-inline justified")
                div.form-group
                  div.col-xs-4
                    label Sex&nbsp;&nbsp;&nbsp;&nbsp;
                    select(class="form-control")
                      option(value = "Basketball") Basketball &nbsp;&nbsp;
                  div.col-xs-4
                    label Age  &nbsp;&nbsp;
                    select(class="form-control")
                      option(value = "Basketball") Basketball &nbsp;&nbsp;
                  div.col-xs-4
                    label Sports  &nbsp;&nbsp;
                      select(class="form-control")
                        option(value = "Basketball") Basketball &nbsp;&nbsp; 
                  div.col-xs-4 
                    label Skill  &nbsp;&nbsp;
                      select(class="form-control")
                        option(value = "Basketball") Basketball &nbsp;&nbsp; 
                  div.col-xs-8
                    label Address &nbsp;&nbsp;
                    input(type="text",class="form-control")
                p
                input(type="hidden")
                input(type="submit",class="btn btn-primary btn-sm pull-right",value="Find")
                input(type="button",class="btn btn-primary btn-sm pull-right",onclick="location.href='users/prefer?edit=1'",value="Edit Prefer")
                input(type="button",value="Refresh",onClick="window.location.reload()",class="btn btn-primary btn-sm pull-left")
                
                input(type="button",class="btn btn-primary btn-sm pull-left",onclick="location.href='/match/map'",value="Map")
              br
            if(error)
                script alert("#{error}")

            if(partners)

              include geo.js
              div.panel-body

                div(class="clearfix")
                  div.media-body
                      span(class="text-muted pull-left") 
                      small.text-muted Click Username to leave a message
                      p
                      ul.media-list
                        - var i = 0
                        for partner in partners
                          if(partner.dist!=0)
                            if(partner.sexdiff)
                              - i = i+1
                              li.media
                                div.media-body
                                  span(class="text-muted pull-right")
                                    small.text-muted 
                                  strong(class="text-success") 
                                    span(class="badge") #{i} 
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    a(href="/view/comment?username=#{partner.email}") #{partner.email}
                                    p
                                  - distance = Math.round(partner.dist*10000)
                                  p  Sex: #{partner.sex} |  Age: #{partner.age} | Sports: #{partner.sports} | Skill Degree: #{partner.skill} | Distance #{distance} Miles &nbsp;&nbsp;&nbsp;
                                    br
                                    br
                                    a(class="text-muted pull-right",id=i)         
                                    button(class="text-muted pull-right",name=i,style="display:inline",onclick="return geocodeLatLng([#{partner.Adress[0]},#{partner.Adress[1]}],#{i})") See Address
                
    div(class="clearfix" style="margin-top:600px;")
    
