extends layout
block link
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src="/javascripts/register.js")
block content
  div.intro#home
    div.login
      form(name="register",method ='POST',action='/register',onsubmit="return registerSubmit()")
        fieldset
          legend Register your Sport Partner account
          br
          p Email:
          if(namerror)
            p(style="font-style:italic;font-size:15px;color:purple") #{namerror}
          - var email = "sunqiang93@163.com"
          input(type="email",name="username",value="#{email}" required)

          p Password:
          if(errors)
            p(style="font-style:italic;font-size:15px;color:purple") #{errors}
          - var password = "sunQIANG9337"
          input(type="password",name = "password",id="password",value = "#{password}" required)

          p RePasspord:
          input(type="password",name = "repassword", id="password2", value="#{password}" required)
          <br>
          input(type="submit",value="Submit")
          input(type="reset", value="Reset")
          br
